/*body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to right, #ff9966, #ff5e62);
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

#music-player {
    width: 300px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

#song-image {
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
    margin-bottom: 10px;
    border-radius: 5px;
}

#song-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
}

#controls {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

#controls button {
    background: none;
    border: none;
    font-size: 24px;
    margin: 0 10px;
    cursor: pointer;
}

#song-list {
    display: none;
}

#song-list li {
    cursor: pointer;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    text-align: center;
}

#song-list li:hover {
    background-color: #f8f9fa;
}
*/


/* Estilos para las imágenes */
img {
  max-width: 100%;
}

/* Estilos para el contenedor principal del reproductor */
.container {
  background-color: var(--background);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  max-width: 400px;
  margin: auto;
}

/* Estilos para el reproductor de audio */
.player {
  width: 100%;
  height: auto;
  background-color: var(--background);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  box-shadow: 9px 9px 16px rgba(163, 177, 198, 0.6), -9px -9px 16px rgba(255, 255, 255, 0.5);
  padding: 20px;
}

/* Estilos para los botones del reproductor */
.player__btn {
  cursor: pointer;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  box-shadow: -8px -8px 20px 0px #fff9, -6px -6px 8px 8px 20px #0001, 5px 5px 6px 0px #0001;
  color: var(--gray);
}

/* Estilos cuando se presiona un botón del reproductor */
.player__btn:active {
  box-shadow: inset -8px -8px 20px #fff9, inset 8px 8px 20px #0003, inset 5px 5px 6px;
}

/* Estilos para botones pequeños del reproductor */
.player__btn--small {
  min-width: 50px;
  min-height: 50px;
}

/* Estilos para el título de la canción */
.player__title {
  font-weight: 600;
  font-size: 0.8cm;
  color: #a1a1a1;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0;
}

/* Estilos para el tamaño del álbum */
.player__album {
  width: 250px;
}

/* Estilos para la imagen del artista */
.player__img {
  border-radius: 58%;
  box-shadow: 2px 2px 7px rgb(163, 177, 198), -2px -8px -8px 50px rgba(255, 255, 255, 0.8), 3px;
}

/* Estilos para el nombre del artista */
.player__artist {
  font-size: 1.6em;
  font-weight: 500;
  opacity: 0.5;
  margin: 20px 0 0 0;

}

/* Estilos para el control deslizante del nivel de audio */
.player__level {
  width: 880%;
  --webkit-appearance: none;
  outline: none;
  border: none;
  padding: 0;
  margin-top: 40px;
}

/* Estilos para la pista del control deslizante */
.player__level::-webkit-slider-runnable-track {
  background-color: #d7dbdd;
  height: 6px;
  border-radius: 3px;
}

/* Estilos para el 'pulgar' del control deslizante */
.player__level::-webkit-slider-thumb {
  -webkit-appearance: none;
  border-radius: 100px;
  background-color: #5c87fe;
  height: 18px;
  width: 18px;
  margin-top: -7px;
}

/* Estilos para mostrar la duración del audio */
.audio_duration {
  margin-top: -30px;
  display: flex;
  justify-content: center;
  font-size: 10px;
  font-weight: 600;
  color: #a1a1a1;
  letter-spacing: 1px;
  gap: 10px;
}

/* Estilos para la clase .start */
.start {
  flex-direction: column; 
}